:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --warm-black1: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #ffffff;

    --font-DM: 'DM Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--font-DM)
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width:900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange)
}

.header__title-container .header__button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange__container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center; 
}

.main-exchange__container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;   
}

.main-exchange__container .background-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange__container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black)
}

.main-exchange__container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-currency__table,
.main-comission__table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;   
}

.main-currency__table .currency__table--title,
.main-comission__table .comission__table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.main-comission__table .comission__table--title {
    color: var(--secondary-blue);
}

.currency__table--container,
.comission__table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency__table--container table,
.comission__table--container table {
    width: 100%;
    height: 100%;
}

.currency__table--container td,
.comission__table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency__table--container .table__top-left,
.comission__table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency__table--container .table__top-right,
.comission__table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency__table--container .table__bottom-left,
.comission__table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency__table--container .table__bottom-right,
.comission__table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency__table--container .table__right,
.comission__table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency__table--container .down,
.currency__table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency__table--container .up {
    background-image: url('./assets/icons/trending-up.svg');
}

.currency__table--date,
.comission__table--date {
    width: max-content;
    height: 30px;
    margin: 15px auto 0;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.comission__table--date {
    background-color: var(--soft-blue);
}

.currency__table--date p,
.comission__table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}